<br><br><br>


<% if session[:admin] %>
	<h2>Trucks to Approve</h2>
	<%= link_to "logout", logout_path, method: :delete %>

	<% @pending_trucks.each do |truck| %>
		name: <%= truck.name %><br>
		twitter_handle: <a href="https://twitter.com/<%= truck.twitter_handle %>"><%= truck.twitter_handle %></a><br>

		<%= link_to "approved!", truck_approve_path(truck) %><br>

		<%= link_to "edit truck", edit_truck_path(truck)%> <br>

		<%= link_to "kill truck", truck_path(truck), method: :delete %> <br><br>

	<% end %>
<% else %>
	<h2>go away</h2>
<% end %>
