
<div id='map' class='dark'></div>

<div class='addtruck'>
<h3><%= form_for @newtruck, url: "/addtruck" do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name%>
	<%= f.label :twitter_handle %> (without @)
	<%= f.text_field :twitter_handle %>
	<%= f.submit "Add the Truck!"%>
<% end %></h3>
</div>