<!DOCTYPE html>
<html>
<head>
  <title>Truckhunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id='header'><h1>TruckHunter</h1></div>
	<!-- <div id='map' class='dark'></div> -->
    <%= yield %>

    <div id='footer'>
	<h3><%= form_for @newtruck, url: "/addtruck" do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name%>
	<%= f.label :twitter_handle %> (without @)
	<%= f.text_field :twitter_handle %>
	<%= f.submit "Add the Truck!"%>
	<% end %></h3>
</div>
</body>
</html>
